.contact_info{
    width: 960px;
    background-color: white;
    color: black;
}
.form{
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
.form label{
  width: 100%;
  padding-top: 20px;
}

@media screen and (min-width: 480px){
  
  .content #body .contact-info .form{
        width: 400px;
        min-width:400px;
  }
  .content #body .contact-info {
    min-width:400px;
  }
  .content #body .contact-info h1{
    min-width:400px;
  }
  .content #body .contact-info .form label{
    min-width:400px;
  }
}