.links{
        width: 960px;
        background-color: white;
        color: black;
}

@media screen and (min-width: 480px) {

.links{
        min-width:400px;
        }
.links .form{
        min-width:400px; 
}
}