.portfolio{
  width: 960px;
  background-color: white;
  color: black;
}
.table td{
  padding-left: 35px;
  padding-bottom: 10px;
}
.table .content{
  padding-top: 20px;
  position: absolute;
  top: 95px;
  bottom: 6;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 148px;
  height: 30%;
  padding: 1px;
}
.table .container img{
  vertical-align: middle;
}
.table .container{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {

.portfolio {
  position: relative;
}
.content #body{
  position: relative;
}
.content #body .portfolio .table{
  position: relative;
  width:400px;
}
.content #body .portfolio .header_portfolio{
  position: relative;
}
.content #body .portfolio .table .container{
  position: relative;

}
.content #header #navbar header{
  width: 50px;
}
.container #body{
  position:relative;
  width: 400px;
}
}